.badge-position {
    color: black;
  }

  .hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(212, 37, 13, 0);
    tranform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(24, 21, 212, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(12, 31, 199, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }

  

#landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

/*really liked animstion with the logo */
#landing-logo {
  width: clamp(120px, 25vw, 240px);
  height: auto;
  animation: popIn 3.0s ease-out;
}

@keyframes popIn {
  0%   { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1);   opacity: 1; }
}

.transition {
  transition: all 0.2s ease-in-out;
}

.transition:hover {
  transform: scale(1.05);
  background-color: #004080 !important; 
  color: #fff !important;
}


body.roster-page {
  background-image: url('https://static.clubs.nfl.com/image/private/f_auto/bills/on3eamdyqfmyrqkd08ir');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; 
}

body.home-page {
  background-image: url('https://images5.alphacoders.com/132/thumb-1920-1327406.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; 
}


body.roster-page .card {
  background-color: #00338D;
  color: white; 
  border: none;
}


body.roster-page .card .btn-primary {
  background-color: #C60C30; 
  border: none;
}


body.roster-page .badge {
  background-color: white;
  color: #00338D;
  font-weight: bold;
}


#modalDetailText {
  color: #00338D;
  font-weight: 500;
  font-size: 1rem;
}

.modal-title {
  color: #00338D;
  font-weight: bold;
  font-size: 1.25rem;
}

body.roster-page .card .text-muted {
  color: #C60C30 !important;
  font-weight: 500;
  font-size: 1rem;
}

h1 {
  text-align: center;
  font-family: "acier-bat-gris", sans-serif;
font-weight: 400;
font-style: normal;
font-family: "rooney-web", serif;
font-weight: 800;
font-style: normal;
color: #C60C30 !important;
}

.white-bg-inline {
  background-color: white;
  display: inline; 
  padding: 4px 6px;
  border-radius: 4px; 
  font-family: "rooney-web", serif;
font-weight: 800;
font-style: normal;
color: #C60C30 !important;
}
p {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "rooney-web", serif;
  font-weight: 800;
  font-style: normal;
}


.btn-bills {
  background-color: #C60C30;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-bills:hover {
  background-color: #a60a27;
}


body.schedule-page {
  background-image: url('https://npr.brightspotcdn.com/dims4/default/7a42e32/2147483647/strip/true/crop/2908x1941+0+0/resize/880x587!/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2Fee%2F20%2Fba385a5748c486c63186971ad6bf%2Fpatriots-bills-football-24357842891311.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; 
}
.whiter-bg-inline {
  background-color: white;
  display: inline; 
  padding: 4px 6px;
  border-radius: 4px; 
  font-family: "rooney-web", serif;
font-weight: 800;
color: #00338D; !important; 
}
                  
.whites-bg-inline {
  background-color: white;
  display: inline; 
  padding: 4px 6px;
  border-radius: 4px; 
  font-family: "rooney-web", serif;
font-weight: 800;
font-style: normal;
color: #C60C30 !important;
}

#schedule-body {
  font-family: "gesta", sans-serif;
font-weight: 700;
font-style: normal;

}
#schedule-body td {
  color: #c60c30; /* bills red */
}